@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.center{
    display: flex;

    justify-content: center;
    align-items: center;
}

body{
    background-color: #e9ecef;
}

#DropDownListWrapper{
    height: 100vh;
}

#DropDownListWrapper h2{
    margin: 1em;
}